@import "tailwindcss";
@import "uniwind";

@plugin "../../typography.ts";

@theme {
  --color-var: var(--color);
}

@theme {
  --radius-none: 0px;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm1: 0.375rem;
  --radius-sm2: 0.5rem;
  --radius-md1: 0.625rem;
  --radius-md2: 0.75rem;
  --radius-lg: 0.875rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 1.75rem;
  --radius-5xl: 2rem;
  --radius-6xl: 2.25rem;
  --radius-7xl: 2.5rem;
}

@theme {
  --radius-none: 0px;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm1: 0.375rem;
  --radius-sm2: 0.5rem;
  --radius-md1: 0.625rem;
  --radius-md2: 0.75rem;
  --radius-lg: 0.875rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 1.75rem;
  --radius-5xl: 2rem;
  --radius-6xl: 2.25rem;
  --radius-7xl: 2.5rem;
}

@theme {
  --color-grey-25: #fcfcfd;
  --color-grey-50: #f9fafb;
  --color-grey-55: #f6f7f8;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #eaecf0;
  --color-grey-250: #e4e4e5;
  --color-grey-300: #d0d5dd;
  --color-grey-350: #ccd2db;
  --color-grey-400: #a8acb3;
  --color-grey-500: #747881;
  --color-grey-550: #636770;
  --color-grey-600: #555b64;
  --color-grey-650: #4a5059;
  --color-grey-700: #42464e;
  --color-grey-750: #31363e;
  --color-grey-800: #2a2d31;
  --color-grey-850: #25292d;
  --color-grey-900: #1b1d20;
  --color-rise-teal-50: #edffff;
  --color-rise-teal-100: #c5f5f9;
  --color-rise-teal-200: #9fdce1;
  --color-rise-teal-300: #69c8d3;
  --color-rise-teal-400: #41bcc4;
  --color-rise-teal-500: #0898a0;
  --color-rise-teal-600: #006d79;
  --color-rise-teal-700: #005864;
  --color-rise-teal-800: #003f4f;
  --color-rise-teal-900: #002a3a;
  --color-rise-teal-950: #001f2f;
  --color-purple-50: #f5f1fe;
  --color-purple-100: #e4d5f8;
  --color-purple-200: #d2b9f2;
  --color-purple-300: #c0adef;
  --color-purple-400: #ae91e9;
  --color-purple-500: #a479ff;
  --color-purple-600: #5b5ae7;
  --color-purple-700: #4a4fc6;
  --color-purple-800: #3a45a3;
  --color-purple-900: #2b2677;
  --color-purple-950: #201c5c;
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-orange-50: #fef3ef;
  --color-orange-100: #fee6da;
  --color-orange-200: #fdb99b;
  --color-orange-300: #ffa47d;
  --color-orange-400: #ff8e50;
  --color-orange-500: #fe7122;
  --color-orange-600: #f7661e;
  --color-orange-700: #d15c00;
  --color-orange-800: #b54e00;
  --color-orange-900: #c93b12;
  --color-indigo-50: #f6e4f0;
  --color-indigo-100: #f7c9e3;
  --color-indigo-200: #f09bd0;
  --color-indigo-300: #e35bad;
  --color-indigo-400: #de00a0;
  --color-indigo-500: #b80074;
  --color-indigo-600: #a80067;
  --color-indigo-700: #98005b;
  --color-indigo-800: #870050;
  --color-indigo-900: #760045;
  --color-indigo-950: #66003a;
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee3e1;
  --color-error-200: #fecdca;
  --color-error-250: #ffc3c1;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #6a3a37;
  --color-error-1000: #5b2927;
  --color-error-1050: #512322;
  --color-error-1100: #411a17;
  --color-error: #f04438;
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #faebbf;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-alpha-nav-white-10: #ffffff1a;
  --color-alpha-warning-10: #f790091a;
  --color-alpha-warning-20: #f7900933;
  --color-alpha-warning-30: #f790094d;
  --color-alpha-warning-40: #f7900966;
  --color-alpha-warning-50: #f7900980;
  --color-alpha-warning-10-solid: #31281e;
  --color-alpha-warning-20-solid: #47341b;
  --color-alpha-warning-30-solid: #5d3f19;
  --color-alpha-warning-40-solid: #734b17;
  --color-alpha-warning-50-solid: #895615;
  --color-alpha-indigo-10: #b800741a;
  --color-alpha-indigo-20: #b8007433;
  --color-alpha-indigo-30: #b800744d;
  --color-alpha-indigo-40: #b8007466;
  --color-alpha-indigo-50: #b8007480;
  --color-alpha-indigo-10-solid: #2b1a28;
  --color-alpha-indigo-20-solid: #3a1731;
  --color-alpha-indigo-30-solid: #4a1439;
  --color-alpha-indigo-40-solid: #5a1142;
  --color-alpha-indigo-50-solid: #690e4a;
  --color-alpha-error-10: #f044381a;
  --color-alpha-error-20: #f0443833;
  --color-alpha-error-30: #f044384d;
  --color-alpha-error-40: #f0443866;
  --color-alpha-error-50: #f0443880;
  --color-alpha-error-10-solid: #302122;
  --color-alpha-error-20-solid: #462525;
  --color-alpha-error-30-solid: #5b2927;
  --color-alpha-error-40-solid: #702d2a;
  --color-alpha-error-50-solid: #85312c;
  --color-alpha-purple-10: #796cf71a;
  --color-alpha-purple-20: #796cf733;
  --color-alpha-purple-30: #796cf74d;
  --color-alpha-purple-40: #796cf766;
  --color-alpha-purple-50: #796cf780;
  --color-alpha-purple-10-solid: #242535;
  --color-alpha-purple-20-solid: #2e2d4b;
  --color-alpha-purple-30-solid: #373560;
  --color-alpha-purple-40-solid: #413d76;
  --color-alpha-purple-50-solid: #4a448b;
  --color-alpha-nav-white-20: #ffffff33;
  --color-alpha-teal-10: #0898a01a;
  --color-alpha-teal-20: #0898a033;
  --color-alpha-teal-30: #0898a04d;
  --color-alpha-teal-40: #0898a066;
  --color-alpha-teal-50: #0898a080;
  --color-alpha-teal-10-solid: #19292d;
  --color-alpha-teal-20-solid: #17363a;
  --color-alpha-teal-30-solid: #154246;
  --color-alpha-teal-40-solid: #134e53;
  --color-alpha-teal-50-solid: #115a60;
  --color-alpha-nav-grey-5: #181b200d;
  --color-alpha-nav-grey-10: #181b201a;
  --color-alpha-nav-grey-20: #181b2033;
  --color-alpha-success-10: #12b76a1a;
  --color-alpha-success-30: #12b76a4d;
  --color-alpha-success-20: #12b76a33;
  --color-alpha-success-40: #12b76a66;
  --color-alpha-success-50: #12b76a80;
  --color-alpha-success-10-solid: #1a2c27;
  --color-alpha-success-20-solid: #193c2f;
  --color-alpha-success-30-solid: #184b36;
  --color-alpha-success-40-solid: #175b3e;
  --color-alpha-success-50-solid: #176a45;
  --color-alpha-grey-10: #6670851a;
  --color-alpha-grey-20: #66708533;
  --color-alpha-grey-30: #6670854d;
  --color-alpha-grey-40: #66708566;
  --color-alpha-grey-50: #66708580;
  --color-alpha-grey-60: #3a414e66;
  --color-alpha-grey-70: #3a414e99;
  --color-alpha-grey-80: #3a414eb3;
  --color-alpha-grey-90: #3a414eb3;
  --color-alpha-white-10: #ffffff1a;
  --color-alpha-white-20: #ffffff33;
  --color-alpha-white-30: #ffffff4d;
  --color-alpha-white-40: #ffffff66;
  --color-alpha-white-50: #ffffff80;
  --color-alpha-white-60: #ffffff99;
  --color-alpha-white-70: #ffffffb3;
  --color-alpha-white-80: #ffffffcc;
  --color-alpha-white-90: #ffffffe6;
  --color-alpha-white-on-white-bg: #f3f4f699;
  --color-gradient-teal-light-mode-1: #d5faff4d;
  --color-gradient-teal-light-mode-2: #9fdce1b3;
  --color-gradient-teal-dark-mode-1: #006d79;
  --color-gradient-teal-dark-mode-2: #002a3a1a;
  --color-surface-overlay-brand: #9fdce1a6;
  --color-pink-accent-fill: #f6e4f0;
  --color-pink-accent-primary: #de00a0;
  --color-progressive-blur-fill: #ffffff01;
  --color-brand-50: #edffff;
  --color-brand-100: #c5f5f9;
  --color-brand-200: #9fdce1;
  --color-brand-300: #69c8d3;
  --color-brand-400: #41bcc4;
  --color-brand-500: #0898a0;
  --color-brand-600: #006d79;
  --color-brand-700: #005864;
  --color-brand-800: #003f4f;
  --color-brand-900: #002a3a;
  --color-brand-950: #001f2f;
  --color-brand: #0898a0;
}

@theme {
  --spacing-none: 0px;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm1: 0.375rem;
  --spacing-sm2: 0.5rem;
  --spacing-md1: 0.625rem;
  --spacing-md2: 0.75rem;
  --spacing-lg: 0.875rem;
  --spacing-xl: 1rem;
  --spacing-xxl: 1.25rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 1.75rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.25rem;
  --spacing-6xl: 2.5rem;
  --spacing-7xl: 3rem;
  --spacing-8xl: 3.75rem;
  --spacing-9xl: 4.5rem;
  --spacing-10xl: 5rem;
}

@layer theme {
  :root {
    @variant light {
      --color-grey-50-700: #f9fafb;
      --color-grey-50-800: #f9fafb;
      --color-grey-100-400: #f3f4f6;
      --color-grey-100-500: #f3f4f6;
      --color-grey-100-600: #f3f4f6;
      --color-grey-100-700: #f3f4f6;
      --color-grey-100-750: #f3f4f6;
      --color-grey-100-800: #f3f4f6;
      --color-grey-100-900: #f3f4f6;
      --color-grey-100-white: #f3f4f6;
      --color-grey-100-alpha10: #f3f4f6;
      --color-grey-100-alpha20: #f3f4f6;
      --color-grey-100-alpha30: #f3f4f6;
      --color-grey-100-alpha40: #f3f4f6;
      --color-surface-primary: #ffffff;
      --color-card-on-white-bg: #f3f4f6;
      --color-card-on-white-bg-alt: #f9fafb;
      --color-white-only: #ffffff;
      --color-white-to-black: #ffffff;
      --color-white-to-grey900: #ffffff;
      --color-white-to-brand600: #ffffff;
      --color-black-to-white: #000000;
      --color-black-to-grey: #000000;
      --color-dark-grey-light-grey: #1b1d20;
      --color-grey-200-400: #eaecf0;
      --color-grey-200-500: #eaecf0;
      --color-grey-200-600: #eaecf0;
      --color-grey-200-700: #eaecf0;
      --color-grey-200-800: #eaecf0;
      --color-grey-200-900: #eaecf0;
      --color-grey-200-white: #eaecf0;
      --color-grey-200-alpha30: #eaecf0;
      --color-grey-300-400: #d0d5dd;
      --color-grey-300-500: #d0d5dd;
      --color-grey-300-600: #d0d5dd;
      --color-grey-300-700: #d0d5dd;
      --color-grey-300-800: #d0d5dd;
      --color-grey-300-900: #d0d5dd;
      --color-grey-350-550: #ccd2db;
      --color-grey-400-300: #a8acb3;
      --color-grey-400-500: #a8acb3;
      --color-grey-400-600: #a8acb3;
      --color-grey-400-700: #a8acb3;
      --color-grey-400-800: #a8acb3;
      --color-grey-400-900: #a8acb3;
      --color-grey-500-300: #747881;
      --color-grey-500-400: #747881;
      --color-grey-500-600: #747881;
      --color-grey-500-700: #747881;
      --color-grey-500-800: #747881;
      --color-grey-500-900: #747881;
      --color-grey-500-white: #747881;
      --color-grey-600-100: #555b64;
      --color-grey-600-200: #555b64;
      --color-grey-600-300: #555b64;
      --color-grey-600-400: #555b64;
      --color-grey-600-500: #555b64;
      --color-grey-600-700: #555b64;
      --color-grey-600-800: #555b64;
      --color-grey-600-900: #555b64;
      --color-grey-600-white: #555b64;
      --color-grey-700-100: #42464e;
      --color-grey-700-200: #42464e;
      --color-grey-700-300: #42464e;
      --color-grey-700-400: #42464e;
      --color-grey-700-500: #42464e;
      --color-grey-700-600: #42464e;
      --color-grey-700-800: #42464e;
      --color-grey-700-900: #42464e;
      --color-grey-700-white: #42464e;
      --color-grey-800-200: #2a2d31;
      --color-grey-800-300: #2a2d31;
      --color-grey-800-400: #2a2d31;
      --color-grey-800-500: #2a2d31;
      --color-grey-800-600: #2a2d31;
      --color-grey-800-700: #2a2d31;
      --color-grey-800-900: #2a2d31;
      --color-grey-800-white: #2a2d31;
      --color-grey-900-100: #1b1d20;
      --color-grey-900-200: #1b1d20;
      --color-grey-900-300: #1b1d20;
      --color-grey-900-400: #1b1d20;
      --color-grey-900-500: #1b1d20;
      --color-grey-900-600: #1b1d20;
      --color-grey-900-700: #1b1d20;
      --color-grey-900-800: #1b1d20;
      --color-grey-900-white: #1b1d20;
      --color-grey-alphawhite-to-alphagrey: #ffffff33;
      --color-grey100-alpha60: #f3f4f6;
      --color-grey200-alpha50: #eaecf0;
      --color-grey200-alpha60: #eaecf0;
      --color-grey200-alpha70: #eaecf0;
      --color-grey300-alpha10: #d0d5dd;
      --color-grey300-alpha20: #d0d5dd;
      --color-grey300-alpha30: #d0d5dd;
      --color-grey300-alpha40: #d0d5dd;
      --color-grey300-alpha50: #d0d5dd;
      --color-grey300-alpha60: #d0d5dd;
      --color-grey300-alpha70: #d0d5dd;
      --color-brand-grey100-alpha10: #f3f4f6;
      --color-brand-alpha10-alpha20: #0898a01a;
      --color-brand-50-alpha10: #edffff;
      --color-brand-50-alpha20: #edffff;
      --color-brand-50-alpha30: #edffff;
      --color-brand-50-alpha40: #edffff;
      --color-brand-50-alpha50: #edffff;
      --color-brand-50-alpha10-solid: #edffff;
      --color-brand-50-alpha20-solid: #edffff;
      --color-brand-50-alpha30-solid: #edffff;
      --color-brand-50-alpha40-solid: #edffff;
      --color-brand-50-alpha50-solid: #edffff;
      --color-brand-100-alpha10: #c5f5f9;
      --color-brand-100-alpha20: #c5f5f9;
      --color-brand-100-alpha30: #c5f5f9;
      --color-brand-100-alpha40: #c5f5f9;
      --color-brand-100-alpha50: #c5f5f9;
      --color-brand-300-alpha40: #69c8d3;
      --color-brand-500-alpha: #0898a0;
      --color-brand-600-alpha: #006d79;
      --color-brand-700-alpha: #005864;
      --color-brand-800-alpha10: #003f4f;
      --color-brand-900-alpha: #002a3a;
      --color-brand-100-200: #c5f5f9;
      --color-brand-100-300: #c5f5f9;
      --color-brand-100-400: #c5f5f9;
      --color-brand-100-500: #c5f5f9;
      --color-brand-100-600: #c5f5f9;
      --color-brand-100-700: #c5f5f9;
      --color-brand-100-800: #c5f5f9;
      --color-brand-100-900: #c5f5f9;
      --color-brand-200-100: #9fdce1;
      --color-brand-200-300: #9fdce1;
      --color-brand-200-400: #9fdce1;
      --color-brand-200-500: #9fdce1;
      --color-brand-200-600: #9fdce1;
      --color-brand-200-700: #9fdce1;
      --color-brand-200-800: #9fdce1;
      --color-brand-200-900: #9fdce1;
      --color-brand-200-grey400: #9fdce1;
      --color-brand-200-brandalpha30: #9fdce1;
      --color-brand-200-greyalpha30: #9fdce1;
      --color-brand-300-100: #69c8d3;
      --color-brand-300-200: #69c8d3;
      --color-brand-300-400: #69c8d3;
      --color-brand-300-500: #69c8d3;
      --color-brand-300-600: #69c8d3;
      --color-brand-300-700: #69c8d3;
      --color-brand-300-800: #69c8d3;
      --color-brand-300-900: #69c8d3;
      --color-brand-400-100: #41bcc4;
      --color-brand-400-200: #41bcc4;
      --color-brand-400-300: #41bcc4;
      --color-brand-400-500: #41bcc4;
      --color-brand-400-600: #41bcc4;
      --color-brand-400-700: #41bcc4;
      --color-brand-400-800: #41bcc4;
      --color-brand-400-900: #41bcc4;
      --color-brand-500-100: #0898a0;
      --color-brand-500-200: #0898a0;
      --color-brand-500-300: #0898a0;
      --color-brand-500-400: #0898a0;
      --color-brand-500-600: #0898a0;
      --color-brand-500-700: #0898a0;
      --color-brand-500-800: #0898a0;
      --color-brand-500-900: #0898a0;
      --color-brand-600-100: #006d79;
      --color-brand-600-200: #006d79;
      --color-brand-600-300: #006d79;
      --color-brand-600-400: #006d79;
      --color-brand-600-500: #006d79;
      --color-brand-600-700: #006d79;
      --color-brand-600-800: #006d79;
      --color-brand-600-900: #006d79;
      --color-brand-600-white: #006d79;
      --color-brand-700-100: #005864;
      --color-brand-700-200: #005864;
      --color-brand-700-300: #005864;
      --color-brand-700-400: #005864;
      --color-brand-700-500: #005864;
      --color-brand-700-600: #005864;
      --color-brand-700-800: #005864;
      --color-brand-700-900: #005864;
      --color-brand-700-white: #005864;
      --color-brand-800-100: #003f4f;
      --color-brand-800-200: #003f4f;
      --color-brand-800-300: #003f4f;
      --color-brand-800-400: #003f4f;
      --color-brand-800-500: #003f4f;
      --color-brand-800-600: #003f4f;
      --color-brand-800-700: #003f4f;
      --color-brand-800-900: #003f4f;
      --color-brand-800-white: #003f4f;
      --color-brand-900-100: #002a3a;
      --color-brand-900-200: #002a3a;
      --color-brand-900-300: #002a3a;
      --color-brand-900-400: #002a3a;
      --color-brand-900-500: #002a3a;
      --color-brand-900-600: #002a3a;
      --color-brand-900-700: #002a3a;
      --color-brand-900-800: #002a3a;
      --color-brand-900-white: #002a3a;
      --color-brand-900-grey800: #002a3a;
      --color-white-grey300: #ffffff;
      --color-white-grey400: #ffffff;
      --color-white-grey500: #ffffff;
      --color-white-grey600: #ffffff;
      --color-white-grey700: #ffffff;
      --color-white-grey800: #ffffff;
      --color-white-grey900: #ffffff;
      --color-white-teal200: #ffffff;
      --color-white-teal300: #ffffff;
      --color-white-teal400: #ffffff;
      --color-white-teal500: #ffffff;
      --color-white-teal600: #ffffff;
      --color-white-teal700: #ffffff;
      --color-white-teal800: #ffffff;
      --color-white-teal900: #ffffff;
      --color-white-alpha10: #ffffff;
      --color-white-alpha20: #ffffff;
      --color-white-alpha30: #ffffff;
      --color-white-alpha40: #ffffff;
      --color-white-alpha50: #ffffff;
      --color-white-to-alpha10: #ffffff;
      --color-white-to-alpha20: #ffffff;
      --color-white-to-alpha30: #ffffff;
      --color-white-to-alpha40: #ffffff;
      --color-white-to-alpha50: #ffffff;
      --color-white-to-alpha60: #ffffff;
      --color-white-to-alpha70: #ffffff;
      --color-white-to-alpha80: #ffffff;
      --color-card-on-grey-bg: #ffffff;
      --color-card-with-shadow: #ffffff;
      --color-surface-primary-alt: #f6f7f8;
      --color-surface-primary-alt-1: #f3f4f6;
      --color-warning-stroke: #f7900933;
      --color-warning-400-300: #fdb022;
      --color-warning-500-400: #f79009;
      --color-warning-500-300: #f79009;
      --color-warning-600-400: #dc6803;
      --color-success-50-alpha10: #ecfdf3;
      --color-success-100-alpha10: #d1fadf;
      --color-success-200-alpha10: #a6f4c5;
      --color-success-500-400: #12b76a;
      --color-error-50-alpha10: #fef3f2;
      --color-error-50-alpha20: #fef3f2;
      --color-error-50-alpha30: #fef3f2;
      --color-error-100-alpha10: #fee3e1;
      --color-error-100-alpha20: #fee3e1;
      --color-error-200-alpha30: #fecdca;
      --color-error-200-alpha50: #fecdca;
      --color-error-50-alpha10-solid: #fef3f2;
      --color-error-50-alpha20-solid: #fef3f2;
      --color-error-50-alpha30-solid: #fef3f2;
      --color-error-100-alpha10-solid: #fee3e1;
      --color-error-100-alpha20-solid: #fee3e1;
      --color-error-200-alpha30-solid: #fecdca;
      --color-error-200-alpha50-solid: #fecdca;
      --color-error-400-300: #f97066;
      --color-error-400-500: #f97066;
      --color-error-400-600: #f97066;
      --color-error-500-300: #f04438;
      --color-error-500-400: #f04438;
      --color-error-600-400: #d92d20;
      --color-error-600-500: #d92d20;
      --color-error-700-500: #b42318;
      --color-error-700-600: #b42318;
      --color-error-100-1000: #fee3e1;
      --color-error-200-1050: #fecdca;
      --color-error-250-950: #ffc3c1;
      --color-error-500-1100: #f04438;
      --color-error-50-1100: #fef3f2;
      --color-error-100-400: #fee3e1;
      --color-error-white-400: #ffffff;
      --color-error-white-500: #ffffff;
      --color-error-white-1100: #ffffff;
      --color-error-alpha20: #f0443833;
      --color-error-alpha30: #f044384d;
      --color-error-alpha10-alpha30: #f044381a;
      --color-error-alpha20-alpha30: #f0443833;
      --color-error-alpha20-alpha40: #f0443833;
      --color-white-to-grey700: #ffffff;
      --color-grey100-brand100: #f3f4f6;
      --color-grey100-brand200: #f3f4f6;
      --color-grey100-brand300: #f3f4f6;
      --color-grey100-brand400: #f3f4f6;
      --color-grey100-brand500: #f3f4f6;
      --color-grey100-brand600: #f3f4f6;
      --color-grey100-brand700: #f3f4f6;
      --color-grey100-brand800: #f3f4f6;
      --color-grey100-brand900: #f3f4f6;
      --color-grey100-700: #f3f4f6;
      --color-grey100-800: #f3f4f6;
      --color-grey100-to-alpha60: #f3f4f6;
      --color-grey100-to-alpha30: #f3f4f6;
      --color-grey100-to-alpha70: #f3f4f6;
      --color-grey100-500: #f3f4f6;
      --color-chartline-stroke: #f3f4f6;
      --color-chartline-fill: #f3f4f6;
      --color-grey200-700: #eaecf0;
      --color-grey300-700: #d0d5dd;
      --color-grey700-600: #42464e;
      --color-container-fill: #f3f4f6;
      --color-graph-text: #41bcc4;
      --color-graph-stroke-grey: #d0d5dd;
      --color-graph-stroke-brand: #41bcc4;
      --color-container-active: #41bcc4;
      --color-progress-base-1: #ffffff;
      --color-chartlines-portfolio-page: #9fdce1;
      --color-progress-base-2: #41bcc4;
      --color-progress-base-3: #006d79;
      --color-navigation-primary-fill: #ffffff;
      --color-navigation-alpha-fill: #ffffff1a;
      --color-navigation-progressive-blur-fill: #ffffff01;
      --color-navigation-icon-active: #000000;
      --color-navigation-icon-deactive: #a8acb3;
      --color-tab-button-active-state: #ffffff;
      --color-tab-button-tab-fill: #f3f4f6;
      --color-tab-button-stroke: #eaecf0;
      --color-text-support-primary: #747881;
      --color-search-field-deactive-grey-fill: #f3f4f6;
      --color-search-field-active-white-fill: #ffffff;
      --color-text-light: #a8acb3;
      --color-text-super-light: #d0d5dd;
      --color-text-on-purple-fill: #ffffff;
      --color-placeholders: #f3f4f6;
      --color-surface-overlay-brand: #9fdce1a6;
      --color-pink-accent-fill: #f6e4f0;
      --color-pink-accent-primary: #de00a0;
      --color-surface-overlay-grey: #66708533;
      --color-rise-logo-grey: #66708533;
      --color-stroke-grey-alpha10: #6670851a;
      --color-stroke-pill-alpha10: #6670851a;
      --color-chartline-deposits-500-500: #0898a0;
      --color-chartline-withdrawals-500-500: #f04438;
      --color-loading-icon: #0898a01a;
      --color-stroke-error: #f04438;
      --color-stroke-brand: #0898a0;
      --color-brand-alpha10: #0898a01a;
      --color-brand-alpha20: #0898a033;
      --color-brand-alpha10-grey10: #0898a01a;
      --color-error-alpha10: #f044381a;
      --color-iphone-status-bar-iphone-camera: #2a2d31;
      --color-iphone-status-bar-iphone-label: #ffffff;
      --color-iphone-status-bar-iphone-components: #000000;
      --color-iphone-status-bar-iphone-dynamic-island: #000000;
      --color-brand-200-alpha20: #9fdce1;
      --color-brand-200-alpha40: #9fdce1;
      --color-white10-grey10: #ffffff1a;
      --color-white10-only: #ffffff1a;
      --color-white20-grey20: #ffffff33;
      --color-white30-only: #ffffff4d;
      --color-white30-grey30: #ffffff4d;
      --color-white40-grey40: #ffffff66;
      --color-white50-grey50: #ffffff80;
      --color-white60-grey60: #ffffff99;
      --color-white70-grey70: #ffffffb3;
      --color-white80-grey80: #ffffffcc;
      --color-white90-grey90: #ffffffe6;
      --color-on-white-bg-alpha: #f3f4f699;
      --color-indigo-400-300: #de00a0;
      --color-indigo-50-alpha10: #f6e4f0;
      --color-indigo-50-alpha20: #f6e4f0;
      --color-indigo-50-alpha30: #f6e4f0;
      --color-indigo-100-alpha10: #f7c9e3;
      --color-indigo-100-alpha20: #f7c9e3;
      --color-indigo-200-alpha30: #f09bd0;
      --color-indigo-50-alpha10-solid: #f6e4f0;
      --color-indigo-50-alpha20-solid: #f6e4f0;
      --color-indigo-50-alpha30-solid: #f6e4f0;
      --color-indigo-100-alpha10-solid: #f7c9e3;
      --color-indigo-100-alpha20-solid: #f7c9e3;
      --color-indigo-200-alpha30-solid: #f09bd0;
      --color-purple-50-alpha10: #f5f1fe;
      --color-purple-50-alpha20: #f5f1fe;
      --color-purple-50-alpha30: #f5f1fe;
      --color-purple-100-alpha10: #e4d5f8;
      --color-purple-100-alpha20: #e4d5f8;
      --color-purple-200-alpha30: #d2b9f2;
      --color-purple-500-alpha20: #a479ff;
      --color-purple-50-alpha10-solid: #f5f1fe;
      --color-purple-50-alpha20-solid: #f5f1fe;
      --color-purple-50-alpha30-solid: #f5f1fe;
      --color-purple-100-alpha10-solid: #e4d5f8;
      --color-purple-100-alpha20-solid: #e4d5f8;
      --color-purple-200-alpha30-solid: #d2b9f2;
      --color-purple-500-alpha20-solid: #a479ff;
      --color-purple-500-300: #a479ff;
      --color-purple-500-400: #a479ff;
      --color-purple-500-600: #a479ff;
      --color-purple-500-700: #a479ff;
      --color-purple-500-800: #a479ff;
      --color-purple-600-300: #5b5ae7;
      --color-purple-600-400: #5b5ae7;
      --color-purple-600-500: #5b5ae7;
      --color-purple-600-700: #5b5ae7;
      --color-purple-600-800: #5b5ae7;
      --color-warning-50-alpha10: #fffaeb;
      --color-warning-50-alpha20: #fffaeb;
      --color-warning-50-alpha30: #fffaeb;
      --color-warning-100-alpha10: #faebbf;
      --color-warning-100-alpha20: #faebbf;
      --color-warning-200-alpha30: #fedf89;
      --color-warning-50-alpha10-solid: #fffaeb;
      --color-warning-50-alpha20-solid: #fffaeb;
      --color-warning-50-alpha30-solid: #fffaeb;
      --color-warning-100-alpha10-solid: #faebbf;
      --color-warning-100-alpha20-solid: #faebbf;
      --color-warning-200-alpha30-solid: #fedf89;
    }

    @variant dark {
      --color-alpha-white-10: #6670851a;
      --color-alpha-white-20: #66708533;
      --color-alpha-white-30: #6670854d;
      --color-alpha-white-40: #66708566;
      --color-alpha-white-50: #66708580;
      --color-alpha-white-60: #3a414e66;
      --color-alpha-white-70: #3b424f99;
      --color-alpha-white-80: #3a414eb3;
      --color-alpha-white-90: #3a414eb3;
      --color-alpha-white-on-white-bg: #3a414e80;
      --color-grey-50-700: #42464e;
      --color-grey-50-800: #2a2d31;
      --color-grey-100-400: #a8acb3;
      --color-grey-100-500: #747881;
      --color-grey-100-600: #555b64;
      --color-grey-100-700: #42464e;
      --color-grey-100-750: #31363e;
      --color-grey-100-800: #2a2d31;
      --color-grey-100-900: #1b1d20;
      --color-grey-100-white: #ffffff;
      --color-grey-100-alpha10: #6670851a;
      --color-grey-100-alpha20: #66708533;
      --color-grey-100-alpha30: #6670854d;
      --color-grey-100-alpha40: #66708566;
      --color-surface-primary: #1b1d20;
      --color-card-on-white-bg: #2a2d31;
      --color-card-on-white-bg-alt: #2a2d31;
      --color-white-only: #ffffff;
      --color-white-to-black: #000000;
      --color-white-to-grey900: #1b1d20;
      --color-white-to-brand600: #006d79;
      --color-black-to-white: #ffffff;
      --color-black-to-grey: #42464e;
      --color-dark-grey-light-grey: #f3f4f6;
      --color-grey-200-400: #a8acb3;
      --color-grey-200-500: #747881;
      --color-grey-200-600: #555b64;
      --color-grey-200-700: #42464e;
      --color-grey-200-800: #2a2d31;
      --color-grey-200-900: #1b1d20;
      --color-grey-200-white: #ffffff;
      --color-grey-200-alpha30: #6670854d;
      --color-grey-300-400: #a8acb3;
      --color-grey-300-500: #747881;
      --color-grey-300-600: #555b64;
      --color-grey-300-700: #42464e;
      --color-grey-300-800: #2a2d31;
      --color-grey-300-900: #1b1d20;
      --color-grey-350-550: #636770;
      --color-grey-400-300: #d0d5dd;
      --color-grey-400-500: #747881;
      --color-grey-400-600: #555b64;
      --color-grey-400-700: #42464e;
      --color-grey-400-800: #2a2d31;
      --color-grey-400-900: #1b1d20;
      --color-grey-500-300: #d0d5dd;
      --color-grey-500-400: #a8acb3;
      --color-grey-500-600: #555b64;
      --color-grey-500-700: #42464e;
      --color-grey-500-800: #2a2d31;
      --color-grey-500-900: #1b1d20;
      --color-grey-500-white: #ffffff;
      --color-grey-600-100: #f3f4f6;
      --color-grey-600-200: #eaecf0;
      --color-grey-600-300: #d0d5dd;
      --color-grey-600-400: #a8acb3;
      --color-grey-600-500: #747881;
      --color-grey-600-700: #42464e;
      --color-grey-600-800: #2a2d31;
      --color-grey-600-900: #1b1d20;
      --color-grey-600-white: #ffffff;
      --color-grey-700-100: #f3f4f6;
      --color-grey-700-200: #eaecf0;
      --color-grey-700-300: #d0d5dd;
      --color-grey-700-400: #a8acb3;
      --color-grey-700-500: #747881;
      --color-grey-700-600: #555b64;
      --color-grey-700-800: #2a2d31;
      --color-grey-700-900: #1b1d20;
      --color-grey-700-white: #ffffff;
      --color-grey-800-200: #eaecf0;
      --color-grey-800-300: #d0d5dd;
      --color-grey-800-400: #a8acb3;
      --color-grey-800-500: #747881;
      --color-grey-800-600: #555b64;
      --color-grey-800-700: #42464e;
      --color-grey-800-900: #1b1d20;
      --color-grey-800-white: #ffffff;
      --color-grey-900-100: #f3f4f6;
      --color-grey-900-200: #eaecf0;
      --color-grey-900-300: #d0d5dd;
      --color-grey-900-400: #a8acb3;
      --color-grey-900-500: #747881;
      --color-grey-900-600: #555b64;
      --color-grey-900-700: #42464e;
      --color-grey-900-800: #2a2d31;
      --color-grey-900-white: #ffffff;
      --color-grey-alphawhite-to-alphagrey: #181b2033;
      --color-grey100-alpha60: #3a414e66;
      --color-grey200-alpha50: #66708580;
      --color-grey200-alpha60: #3a414e66;
      --color-grey200-alpha70: #3a414e99;
      --color-grey300-alpha10: #6670851a;
      --color-grey300-alpha20: #66708533;
      --color-grey300-alpha30: #6670854d;
      --color-grey300-alpha40: #66708566;
      --color-grey300-alpha50: #66708580;
      --color-grey300-alpha60: #3a414e66;
      --color-grey300-alpha70: #3a414e99;
      --color-brand-grey100-alpha10: #0898a01a;
      --color-brand-alpha10-alpha20: #0898a033;
      --color-brand-50-alpha10: #0898a01a;
      --color-brand-50-alpha20: #0898a033;
      --color-brand-50-alpha30: #0898a04d;
      --color-brand-50-alpha40: #0898a066;
      --color-brand-50-alpha50: #0898a080;
      --color-brand-50-alpha10-solid: #19292d;
      --color-brand-50-alpha20-solid: #17363a;
      --color-brand-50-alpha30-solid: #154246;
      --color-brand-50-alpha40-solid: #134e53;
      --color-brand-50-alpha50-solid: #115a60;
      --color-brand-100-alpha10: #0898a01a;
      --color-brand-100-alpha20: #0898a033;
      --color-brand-100-alpha30: #0898a04d;
      --color-brand-100-alpha40: #0898a066;
      --color-brand-100-alpha50: #0898a080;
      --color-brand-300-alpha40: #0898a066;
      --color-brand-500-alpha: #0898a033;
      --color-brand-600-alpha: #0898a033;
      --color-brand-700-alpha: #0898a033;
      --color-brand-800-alpha10: #0898a01a;
      --color-brand-900-alpha: #0898a033;
      --color-brand-100-200: #9fdce1;
      --color-brand-100-300: #69c8d3;
      --color-brand-100-400: #41bcc4;
      --color-brand-100-500: #0898a0;
      --color-brand-100-600: #006d79;
      --color-brand-100-700: #005864;
      --color-brand-100-800: #003f4f;
      --color-brand-100-900: #002a3a;
      --color-brand-200-100: #c5f5f9;
      --color-brand-200-300: #69c8d3;
      --color-brand-200-400: #41bcc4;
      --color-brand-200-500: #0898a0;
      --color-brand-200-600: #006d79;
      --color-brand-200-700: #005864;
      --color-brand-200-800: #003f4f;
      --color-brand-200-900: #002a3a;
      --color-brand-200-grey400: #a8acb3;
      --color-brand-200-brandalpha30: #0898a04d;
      --color-brand-200-greyalpha30: #6670854d;
      --color-brand-300-100: #c5f5f9;
      --color-brand-300-200: #9fdce1;
      --color-brand-300-400: #41bcc4;
      --color-brand-300-500: #0898a0;
      --color-brand-300-600: #006d79;
      --color-brand-300-700: #005864;
      --color-brand-300-800: #003f4f;
      --color-brand-300-900: #002a3a;
      --color-brand-400-100: #c5f5f9;
      --color-brand-400-200: #9fdce1;
      --color-brand-400-300: #69c8d3;
      --color-brand-400-500: #0898a0;
      --color-brand-400-600: #006d79;
      --color-brand-400-700: #005864;
      --color-brand-400-800: #003f4f;
      --color-brand-400-900: #002a3a;
      --color-brand-500-100: #c5f5f9;
      --color-brand-500-200: #9fdce1;
      --color-brand-500-300: #69c8d3;
      --color-brand-500-400: #41bcc4;
      --color-brand-500-600: #006d79;
      --color-brand-500-700: #005864;
      --color-brand-500-800: #003f4f;
      --color-brand-500-900: #002a3a;
      --color-brand-600-100: #c5f5f9;
      --color-brand-600-200: #9fdce1;
      --color-brand-600-300: #69c8d3;
      --color-brand-600-400: #41bcc4;
      --color-brand-600-500: #0898a0;
      --color-brand-600-700: #005864;
      --color-brand-600-800: #003f4f;
      --color-brand-600-900: #002a3a;
      --color-brand-600-white: #ffffff;
      --color-brand-700-100: #c5f5f9;
      --color-brand-700-200: #9fdce1;
      --color-brand-700-300: #69c8d3;
      --color-brand-700-400: #41bcc4;
      --color-brand-700-500: #0898a0;
      --color-brand-700-600: #006d79;
      --color-brand-700-800: #003f4f;
      --color-brand-700-900: #002a3a;
      --color-brand-700-white: #ffffff;
      --color-brand-800-100: #c5f5f9;
      --color-brand-800-200: #9fdce1;
      --color-brand-800-300: #69c8d3;
      --color-brand-800-400: #41bcc4;
      --color-brand-800-500: #0898a0;
      --color-brand-800-600: #006d79;
      --color-brand-800-700: #005864;
      --color-brand-800-900: #002a3a;
      --color-brand-800-white: #ffffff;
      --color-brand-900-100: #c5f5f9;
      --color-brand-900-200: #9fdce1;
      --color-brand-900-300: #69c8d3;
      --color-brand-900-400: #41bcc4;
      --color-brand-900-500: #0898a0;
      --color-brand-900-600: #006d79;
      --color-brand-900-700: #005864;
      --color-brand-900-800: #003f4f;
      --color-brand-900-white: #ffffff;
      --color-brand-900-grey800: #2a2d31;
      --color-white-grey300: #d0d5dd;
      --color-white-grey400: #a8acb3;
      --color-white-grey500: #747881;
      --color-white-grey600: #555b64;
      --color-white-grey700: #42464e;
      --color-white-grey800: #2a2d31;
      --color-white-grey900: #1b1d20;
      --color-white-teal200: #9fdce1;
      --color-white-teal300: #69c8d3;
      --color-white-teal400: #41bcc4;
      --color-white-teal500: #0898a0;
      --color-white-teal600: #006d79;
      --color-white-teal700: #005864;
      --color-white-teal800: #003f4f;
      --color-white-teal900: #002a3a;
      --color-white-alpha10: #0898a01a;
      --color-white-alpha20: #0898a033;
      --color-white-alpha30: #0898a04d;
      --color-white-alpha40: #0898a066;
      --color-white-alpha50: #0898a080;
      --color-white-to-alpha10: #6670851a;
      --color-white-to-alpha20: #66708533;
      --color-white-to-alpha30: #6670854d;
      --color-white-to-alpha40: #66708566;
      --color-white-to-alpha50: #66708580;
      --color-white-to-alpha60: #3a414e66;
      --color-white-to-alpha70: #3a414e99;
      --color-white-to-alpha80: #3a414eb3;
      --color-card-on-grey-bg: #2a2d31;
      --color-card-with-shadow: #42464e;
      --color-surface-primary-alt: #1b1d20;
      --color-surface-primary-alt-1: #1b1d20;
      --color-warning-stroke: #f790094d;
      --color-warning-400-300: #fec84b;
      --color-warning-500-400: #fdb022;
      --color-warning-500-300: #fec84b;
      --color-warning-600-400: #fdb022;
      --color-success-50-alpha10: #12b76a1a;
      --color-success-100-alpha10: #12b76a1a;
      --color-success-200-alpha10: #12b76a1a;
      --color-success-500-400: #32d583;
      --color-error-250: #fecdca;
      --color-error-950: #7a271a;
      --color-error-1000: #7a271a;
      --color-error-1050: #7a271a;
      --color-error-1100: #7a271a;
      --color-error-white-400: #f97066;
      --color-error-white-500: #f04438;
      --color-error-white-1100: #411a17;
      --color-error-50-alpha10: #f044381a;
      --color-error-50-alpha20: #f0443833;
      --color-error-50-alpha30: #f044384d;
      --color-error-100-alpha10: #f044381a;
      --color-error-100-alpha20: #f0443833;
      --color-error-200-alpha30: #f044384d;
      --color-error-200-alpha50: #f0443880;
      --color-error-50-alpha10-solid: #302122;
      --color-error-50-alpha20-solid: #462525;
      --color-error-50-alpha30-solid: #5b2927;
      --color-error-100-alpha10-solid: #302122;
      --color-error-100-alpha20-solid: #462525;
      --color-error-200-alpha30-solid: #5b2927;
      --color-error-200-alpha50-solid: #85312c;
      --color-error-400-300: #fda29b;
      --color-error-400-500: #f04438;
      --color-error-400-600: #d92d20;
      --color-error-500-300: #fda29b;
      --color-error-500-400: #f97066;
      --color-error-600-400: #f97066;
      --color-error-600-500: #f04438;
      --color-error-700-500: #f04438;
      --color-error-700-600: #d92d20;
      --color-error-100-1000: #5b2927;
      --color-error-200-1050: #512322;
      --color-error-250-950: #6a3a37;
      --color-error-500-1100: #411a17;
      --color-error-50-1100: #411a17;
      --color-error-100-400: #f97066;
      --color-error-alpha20: #f0443833;
      --color-error-alpha30: #f0443833;
      --color-error-alpha10-alpha30: #f044384d;
      --color-error-alpha20-alpha30: #f044384d;
      --color-error-alpha20-alpha40: #f0443866;
      --color-white-to-grey700: #42464e;
      --color-grey100-700: #42464e;
      --color-grey100-800: #2a2d31;
      --color-grey100-to-alpha60: #3a414e66;
      --color-grey100-to-alpha30: #6670854d;
      --color-grey100-to-alpha70: #3a414e99;
      --color-grey100-500: #747881;
      --color-chartline-stroke: #747881;
      --color-chartline-fill: #747881;
      --color-grey100-brand100: #c5f5f9;
      --color-grey100-brand200: #9fdce1;
      --color-grey100-brand300: #69c8d3;
      --color-grey100-brand400: #41bcc4;
      --color-grey100-brand500: #0898a0;
      --color-grey100-brand600: #006d79;
      --color-grey100-brand700: #005864;
      --color-grey100-brand800: #003f4f;
      --color-grey100-brand900: #002a3a;
      --color-grey200-700: #42464e;
      --color-grey300-700: #42464e;
      --color-grey700-600: #555b64;
      --color-container-fill: #42464e;
      --color-graph-text: #ffffff;
      --color-graph-stroke-grey: #555b64;
      --color-graph-stroke-brand: #69c8d3;
      --color-container-active: #69c8d3;
      --color-progress-base-1: #2a2d31;
      --color-chartlines-portfolio-page: #69c8d3;
      --color-progress-base-2: #41bcc4;
      --color-progress-base-3: #0898a0;
      --color-navigation-primary-fill: #1b1d20;
      --color-navigation-alpha-fill: #181b200d;
      --color-navigation-progressive-blur-fill: #181b2001;
      --color-navigation-icon-active: #ffffff;
      --color-navigation-icon-deactive: #747881;
      --color-tab-button-active-state: #42464e;
      --color-tab-button-tab-fill: #2a2d31;
      --color-tab-button-stroke: #2a2d31;
      --color-text-support-primary: #a8acb3;
      --color-search-field-deactive-grey-fill: #2a2d31;
      --color-search-field-active-white-fill: #1b1d20;
      --color-text-light: #747881;
      --color-text-super-light: #555b64;
      --color-text-on-purple-fill: #a479ff;
      --color-placeholders: #6670851a;
      --color-surface-overlay-brand: #002a3acc;
      --color-pink-accent-fill: #88477240;
      --color-pink-accent-primary: #ba0387;
      --color-surface-overlay-grey: #3a414e99;
      --color-rise-logo-grey: #6670854d;
      --color-stroke-grey-alpha10: #66708533;
      --color-stroke-pill-alpha10: #6670851a;
      --color-chartline-deposits-500-500: #0898a0;
      --color-chartline-withdrawals-500-500: #f04438;
      --color-loading-icon: #0898a01a;
      --color-stroke-error: #f97066;
      --color-stroke-brand: #41bcc4;
      --color-brand-alpha10: #0898a01a;
      --color-brand-alpha20: #0898a033;
      --color-brand-alpha10-grey10: #6670851a;
      --color-error-alpha10: #f044381a;
      --color-iphone-status-bar-iphone-camera: #42464e;
      --color-iphone-status-bar-iphone-label: #000000;
      --color-iphone-status-bar-iphone-components: #ffffff;
      --color-iphone-status-bar-iphone-dynamic-island: #000000;
      --color-brand-200-alpha20: #0898a033;
      --color-brand-200-alpha40: #0898a066;
      --color-white10-grey10: #6670851a;
      --color-white10-only: #6670851a;
      --color-white20-grey20: #66708533;
      --color-white30-only: #6670854d;
      --color-white30-grey30: #6670854d;
      --color-white40-grey40: #66708566;
      --color-white50-grey50: #66708580;
      --color-white60-grey60: #3a414e66;
      --color-white70-grey70: #3a414e99;
      --color-white80-grey80: #3a414eb3;
      --color-white90-grey90: #3a414eb3;
      --color-on-white-bg-alpha: #3a414e99;
      --color-indigo-400-300: #e35bad;
      --color-indigo-50-alpha10: #b800741a;
      --color-indigo-50-alpha20: #b8007433;
      --color-indigo-50-alpha30: #b800744d;
      --color-indigo-100-alpha10: #b800741a;
      --color-indigo-100-alpha20: #b8007433;
      --color-indigo-200-alpha30: #b800744d;
      --color-indigo-50-alpha10-solid: #2b1a28;
      --color-indigo-50-alpha20-solid: #3a1731;
      --color-indigo-50-alpha30-solid: #4a1439;
      --color-indigo-100-alpha10-solid: #2b1a28;
      --color-indigo-100-alpha20-solid: #3a1731;
      --color-indigo-200-alpha30-solid: #4a1439;
      --color-purple-50-alpha10: #796cf71a;
      --color-purple-50-alpha20: #796cf733;
      --color-purple-50-alpha30: #796cf74d;
      --color-purple-100-alpha10: #796cf71a;
      --color-purple-100-alpha20: #796cf733;
      --color-purple-200-alpha30: #796cf74d;
      --color-purple-500-alpha20: #796cf733;
      --color-purple-50-alpha10-solid: #242535;
      --color-purple-50-alpha20-solid: #2e2d4b;
      --color-purple-50-alpha30-solid: #373560;
      --color-purple-100-alpha10-solid: #242535;
      --color-purple-100-alpha20-solid: #2e2d4b;
      --color-purple-200-alpha30-solid: #373560;
      --color-purple-500-alpha20-solid: #2e2d4b;
      --color-purple-500-300: #c0adef;
      --color-purple-500-400: #ae91e9;
      --color-purple-500-600: #5b5ae7;
      --color-purple-500-700: #4a4fc6;
      --color-purple-500-800: #3a45a3;
      --color-purple-600-300: #c0adef;
      --color-purple-600-400: #ae91e9;
      --color-purple-600-500: #a479ff;
      --color-purple-600-700: #4a4fc6;
      --color-purple-600-800: #3a45a3;
      --color-warning-50-alpha10: #f790091a;
      --color-warning-50-alpha20: #f7900933;
      --color-warning-50-alpha30: #f790094d;
      --color-warning-100-alpha10: #f790091a;
      --color-warning-100-alpha20: #f7900933;
      --color-warning-200-alpha30: #f790094d;
      --color-warning-50-alpha10-solid: #31281e;
      --color-warning-50-alpha20-solid: #47341b;
      --color-warning-50-alpha30-solid: #5d3f19;
      --color-warning-100-alpha10-solid: #31281e;
      --color-warning-100-alpha20-solid: #47341b;
      --color-warning-200-alpha30-solid: #5d3f19;
      --color-brand: #41bcc4;
    }
  }
}

@utility text-var-* {
  --color: --value(--color- *, [color]);
  --color: --alpha(--value(--color- *) / --modifier(percentage));
  color: var(--color);
}

@utility box {
  /* aspect-ratio: 1; */
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  @variant dark {
    background-color: black;
  }
}
